.grid-container {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
}

.bar {
    background-color: grey;
    width: 10px;
    margin: 0 2px 0 2px;
    font-size: 18px;
}