.nav-container, .nav-container * {
    height: 150px;
    width: 100%;
    background: rgb(72, 72, 143);
    display: flex;
    align-items: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;  
}

.btn-generic {
    background: none;
    border: none;
    cursor: pointer;
    height: 3em;  
    width: fit-content;
}

.slider-container {
  width: 8em;
}

.slider-value {
  font-size: 0.9em;
}

.slider-input {
  height: 6px;
  border-radius: 4px;
  background: #ddd;
  appearance: none;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: rgb(109, 219, 109);
  border-radius: 50%;
  cursor: pointer;
}

.divider-container {
  width: 20px;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10px 0 10px;
}

.divider {
  width: 5px;
  height: 100px;
  background-color: rgb(164, 212, 164);
  border-radius: 0 0 25px 25px;
}

.disabled {
  color: grey
}